# ZIP
*.zip

# PYTHON
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# ENV VARIABLES
.env
.env.*
*.env

# LOG FILES
*.log
logs/

# DATABASE / LOCAL DB
*.sqlite3
*.db
mysql_data/
db_data/
*.sql
*.dump

# DATA FILES
data/*
!data/**/*.dvc
!data/**/.gitignore

data/**/*.csv
data/**/*.parquet
data/**/*.feather

# DVC TRACKING FILES
!**/*.dvc
!dvc.yaml
!dvc.lock

# DVC INTERNAL
.dvc/cache/
.dvc/tmp/

# MLFLOW
mlruns/
mlartifacts/

# DOCKER
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# BUILD / DIST
build/
dist/
*.egg-info/

# IDE / EDITOR
.vscode/
.idea/
*.swp
*.swo

# OS FILES
.DS_Store
Thumbs.db

# TEST / CACHE
.pytest_cache/
.cache/
.mypy_cache/
.ruff_cache/
.tox/

# COVERAGE
.coverage
htmlcov/

# JUPYTER
.ipynb_checkpoints/

# API CLIENT TEMP
.http/
*.har